{{!< default}} {{!-- The tag above means: insert everything in this file into the {body} of the default.hbs template
    --}} <header class="site-header">
    {{> site-header}}
    </header>

    {{!-- Everything inside the #post tags pulls data from the post --}}
    {{#post}}

    <main class="max-w-screen-lg w-full mx-auto m-3">
        <article class="{{post_class}} {{#unless feature_image}}no-image{{/unless}}">
            <header>

                <h1 class="text-4xl uppercase bg-green-500 font-bold p-2">{{title}}</h1>
                {{#if primary_tag}}
                <section class="bg-green-700 uppercase w-min p-2 absolute">
                    {{#primary_tag}}
                    <a href="{{url}}">{{name}}</a>
                    {{/primary_tag}}
                </section>
                {{/if}}

                {{#if feature_image}}
                <figure>
                    {{!-- This is a responsive image, it loads different sizes depending on device
                    https://medium.freecodecamp.org/a-guide-to-responsive-images-with-ready-to-use-templates-c400bd65c433
                    --}}
                    <img class="w-full" srcset="{{img_url feature_image size=" s"}} 300w, {{img_url feature_image
                        size="m" }} 600w, {{img_url feature_image size="l" }} 1000w, {{img_url feature_image size="xl"
                        }} 2000w" sizes="(max-width: 800px) 400px,
                        (max-width: 1170px) 1170px,
                            2000px" src="{{img_url feature_image size=" xl"}}" alt="{{title}}" />
                </figure>
                {{/if}}

                <ul>
                    {{#foreach authors}}
                    <li>
                        <div>
                            <h2 class="border-b-4 p-2 flex flex-inline items-center border-green-500">
                                {{#if profile_image}}
                                <img class="rounded-full w-16 h-16" src="{{img_url profile_image size=" xs"}}"
                                    alt="{{name}}" />
                                {{else}}
                                <span class="block rounded-full w-16 h-16">{{> "icons/avatar"}}</span>
                                {{/if}}
                                <span class="text-xl">By {{name}}</span>
                                <span class="text-xl ml-auto">
                                    <time class="byline-meta-date" datetime="{{date format=" YYYY-MM-DD"}}">{{date
                                        format="D MMM YYYY"}}</time></span>
                            </h2>
                        </div>
                    </li>
                    {{/foreach}}
                </ul>
                </section>
            </header>
            <section class="m-3 prose prose-dark">
                {{content}}
            </section>

            {{!-- Email subscribe form at the bottom of the page --}}
            {{!-- {{#if @labs.members}}
            {{> subscribe-form}}
            {{/if}} --}}

            {{!--
            <section class="post-full-comments">
                If you want to embed comments, this is a good place to do it!
            </section>
            --}}

        </article>
    </main>
    {{/post}}

    {{!-- The #contentFor helper here will send everything inside it up to the matching #block helper found in
    default.hbs --}}
    {{#contentFor "scripts"}}
    <script>
        $(document).ready(function () {
            // FitVids - start
            var $postContent = $(".post-full-content");
            $postContent.fitVids();
            // FitVids - end

            // Replace nav with title on scroll - start
            Casper.stickyNavTitle({
                navSelector: '.site-nav-main',
                titleSelector: '.post-full-title',
                activeClass: 'nav-post-title-active'
            });
            // Replace nav with title on scroll - end

            // Hover on avatar
            var hoverTimeout;
            $('.author-list-item').hover(function () {
                var $this = $(this);

                clearTimeout(hoverTimeout);

                $('.author-card').removeClass('hovered');
                $(this).children('.author-card').addClass('hovered');

            }, function () {
                var $this = $(this);

                hoverTimeout = setTimeout(function () {
                    $this.children('.author-card').removeClass('hovered');
                }, 800);
            });
        });
    </script>
    {{/contentFor}}